*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.block__title{
	color: rgb(61, 92, 47);
	text-align: center;
	font-size: 25px;
	margin: 0px 0px 10px 0px;
}
.block__col{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}