.header {
	width: 100%;
	grid-area: header;
	background: linear-gradient(#a9e664, #378124);
	text-align: left;
	border-radius: 20px 20px 0 0;
}

.img {
	margin: 5px 0px 0px 5px;
	width: 60px;
	border-radius: 50%;
}
