.error input,
.error textarea {
	border: 2px solid salmon;
}
.error {
	display: flex;
	flex-direction: column;
	color: salmon;
}
.error span {display: flex;
	flex-direction: column;
	color: salmon;
}
.box {
	margin: 10px 0px 10px 0px;
}
.checkbox {
	width: 20px;
	height: 20px;
}