*{
	box-sizing: border-box;
}

.user {
	width: 20vw;
	padding: 0px 10px 0px 0px;
	border-right: 2px solid #444;
}



.user__block {

}

.user__items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 25px;
	color: #fff;
}

.user__item {
	border-radius: 10px 15px 100px 10px ;
	padding: 5px;
	background: linear-gradient(#a9e664, #378124);
	margin: 0px 0px 5px 0px;
	transition: all 0.3s ease 0s;
}

.user__item:hover{
	transform: scale(1.04);
	color: rgb(25, 66, 24);
}